version: 2
updates:
  - package-ecosystem: "pip"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/requirements"
    schedule:
      interval: "weekly"
    labels:
      - "maintenance"
      - "dependencies"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "maintenance"
    commit-message:
      prefix: "maint"