# Compiled source #
###################
*.pyc

# packages
dist/*

# Pip generated folders #
#########################
*.egg-info/

# Build docs and packages
build/*
doc/build/

# virtual environment
venv/

# sphinx autogen
doc/source/documentation_style/api/*