# Compiled source #
###################
*.pyc

# packages
dist/*

# Pip generated folders #
#########################
*.egg-info/

# Build docs and packages
build/*
doc/build/
.vscode/

# virtual environment
venv/

# sphinx autogen
doc/source/doc-style/api/*
