Sphinx==6.2.1 # BLOCKED BY sphinx-design - Cannot upgrade to Sphinx 7 for now
ansys-sphinx-theme==0.9.9
sphinx-copybutton==0.5.2
sphinx_toolbox==3.5.0
sphinx_design==0.5.0
sphinxcontrib-mermaid>=0.7.1
sphinx-gallery==0.13.0
Pillow>=9.0
pyvista==0.41.1