Sphinx==9.1.0
ansys-sphinx-theme==1.11.0
sphinx-autobuild==2025.8.25
sphinx-copybutton==0.5.2
sphinx_design==0.7.0
sphinxcontrib-mermaid>=2.1.1
sphinx-gallery==0.21.0
Pillow>=12.3.0
pyvista==0.49.0
pydantic==2.13.5